{{ define "contentHeader" }}
<header>
  <div id="content-header">
    <div class="d-flex flex-wrap">
      <div>
        <strong>
          {{ .View }} of {{ .Node.Name }}
        </strong>
        {{- if .Private }}private{{ end }}
      </div>
      <div>
        <p>{{ Bytes .Node.Stat.Size }}</p>
      </div>
    </div>
    <nav>
      <a href="{{ .Path }}">index</a>
      <a href="/history{{ .Path }}">history</a>
      <a href="/diff{{ .Path }}">diff</a>
    </nav>
  </div>
  <div>
    {{ $meta := .Node.Meta }}
    {{ if $meta }}
      <h2>Meta</h2>
      {{ $meta }}
    {{ end }}
  </div>
</header>
{{ end }}